<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문 내용 보기</title>
</head>
<body>
	<h2>번호 / 제목 / 질문 내용 / 등록일</h2>	
	<span th:text="${question.id}"></span> /
	<span th:text="${question.subject}"></span> /
	<span th:text="${question.content}"></span> /
	<span th:text="${question.createDate}"></span>
	<br>
	<hr>
		<h3 th:text="|${#lists.size(question.answers)}개의 답변이 있습니다.|"></h3>
	<hr>
	<br>
	<div>
		<ul>
			<li th:each="answer : ${question.answers}" th:text="${answer.content}"></li>
		</ul>	
	</div>	
	<br>	
	<hr>
	<br>
	<form th:action="@{|/answerCreate/${question.id}|}" method="get">
		<textarea rows="10" cols="60" name="content"></textarea><br>
		<input type="submit" value="답변등록">
	</form>
</body>
</html>